<section id="About">
  <h2>About Me</h2>
  <div class="aboutMeDescription">
    <p>
      My name is Tuan Doan and I recently graduated from California State
      University Sacramento with a Bachelor of Science degree in Computer
      Science. I have a passion for technology and software development, and I
      am always eager to learn new skills and improve my knowledge in the field.
      My goal is to become a proficient software engineer and contribute to
      innovative projects that make a difference in people's lives.
    </p>
    <p>
      In my free time, I enjoy exploring new programming languages, working on
      personal projects, and staying up-to-date with the latest trends in
      technology. I believe that continuous learning is essential in this
      ever-evolving field, and I am committed to honing my skills to become a
      valuable asset in the tech industry.
    </p>
    <p>
      Feel free to connect with me through my social media above if you have any
      questions or opportunities. I am always open to networking and
      collaborating with like-minded individuals who share a passion for
      technology and software development.
    </p>
    <p>
      Thank you for visiting my portfolio, and I look forward to connecting with
      you!
    </p>
    <p>Best regards, Tuan Doan</p>
  </div>
</section>
